body {
	margin: 0;
}
.main-container {
	align-items: center;
	background-image: url(./images/bg.jpg);
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	width: 100vw;
}
.sunny {
	background-image: url(./images/hot.jpg);
}
.rainy {
	background-image: url(./images/rainy.jpg);
}
.snow {
	background-image: url(./images/cold.jpg);
}
.clear {
	background-image: url(./images/sunny.jpg);
}

.search-input {
	background: rgba(255, 255, 255, 0.9);
	border: none;
	margin-bottom: 5%;
	outline: none;
	padding: 20px 2%;
}
